<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneself.blog.system.role.dao.RoleMenuMapper">

    <insert id="insert" parameterType="com.oneself.blog.system.role.entity.pojo.RoleMenu">
        insert into sys_role_menu
        (
            role_id,
            menu_code,
            cteate_user,
            create_time
        )
        values
        (
            #{roleId,jdbcType=INTEGER},
            #{menuCode,jdbcType=VARCHAR},
            #{cteateUser,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from sys_role_menu
        where role_id = #{roleId,jdbcType=INTEGER}
    </delete>

</mapper>